* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 20px;
  background-color: rgb(167, 164, 164);
  color: #2b2b2b;

}

div {
  padding: 20px;
  margin-top: 60px;
  max-width: 545px;
  margin-right: auto;
  margin-left: auto;
  background-color: #F9F9F9;
}

h1 {

}

.feedback-view h1 {
  color: red;
}

h3 {
  line-height: 1.5;
}

button {
  padding: 5px 10px;
  margin-top: 40px;
}

input {
  margin: 10px 8px 10px 0;
}

ul {
  padding: 8px 16px;
  margin: 0 0 16px 0;
  background-color: rgb(236, 233, 233);
  color: #999;
  font-weight: 800;
}

li {
  display: inline-block;
}

.question-gauge {

}
.score-gauge {
  float: right;
  /*
  color: #999;
  font-weight: 600;
  margin-top: 60px;
  margin-bottom: 0;
  display: block;
  background-color: #EAEAEA;
  padding: 10px;
  */

}

.feedback-view .score {
  color: white;
  background-color: red;
}

img {
  width: 100%;
}

