* {
  box-sizing: border-box;
}

/*
html {
  background: url(_img/IWDRM_NoCountryForOldMen.webp) no-repeat center center fixed;
  background-size: cover;
}
*/

body {
  font-family: 'Roboto', sans-serif;
  color: #2b2b2b;
  margin: 20px;
  background-color: rgb(167, 164, 164);
}

.hidden {
  /* on initial load of HTML already set the class of most of the app views to 'hidden' */
  display: none;
}

section {  /* should change to <section> but had hide/show issues? */
  padding: 20px;
  margin-top: 60px;
  max-width: 545px;
  margin-right: auto;
  margin-left: auto;
  background-color: #F9F9F9;
}

img {
  width: 100%;
}

h3 {
  line-height: 1.5;
}

fieldset {
  border: 0;
  padding: 0;
}

legend {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 20px;
}

input {
  margin: 10px 8px 10px 4px;
}

button {
  padding: 5px 10px;
  margin-top: 40px;
  width: 100%;
}

button:hover {
  cursor: pointer;
}

.status {
  padding: 8px 16px;
  margin: 0 0 16px 0;
  background-color: rgb(12, 12, 12);
  color: #999;
  font-weight: 800;
}

li {
  display: inline-block;
}

.question-gauge { }

.score-gauge {
  float: right;
}